/* CSS for Simple Social 2 
   This file has themes generated
   from W3 schools theme generator
*/
.w3-theme-l5 {color:#000 !important; background-color:#f3f6fa !important}
.w3-theme-l4 {color:#000 !important; background-color:#d6e0ef !important}
.w3-theme-l3 {color:#000 !important; background-color:#adc1df !important}
.w3-theme-l2 {color:#fff !important; background-color:#84a2cf !important}
.w3-theme-l1 {color:#fff !important; background-color:#5a83bf !important}
.w3-theme-d1 {color:#fff !important; background-color:#395c91 !important}
.w3-theme-d2 {color:#fff !important; background-color:#325281 !important}
.w3-theme-d3 {color:#fff !important; background-color:#2c4871 !important}
.w3-theme-d4 {color:#fff !important; background-color:#263d61 !important}
.w3-theme-d5 {color:#fff !important; background-color:#1f3351 !important}

.w3-theme-light {color:#000 !important; background-color:#f3f6fa !important}
.w3-theme-dark {color:#fff !important; background-color:#1f3351 !important}
.w3-theme-action {color:#fff !important; background-color:#1f3351 !important}

.w3-theme {color:#fff !important; background-color:#3e65a0 !important}
.w3-text-theme {color:#3e65a0 !important}
.w3-border-theme {border-color:#3e65a0 !important}

.w3-hover-theme:hover {color:#fff !important; background-color:#3e65a0 !important}
.w3-hover-text-theme:hover {color:#3e65a0 !important}
.w3-hover-border-theme:hover {border-color:#3e65a0 !important}

.nav-link.active.ssoc-active {
		background-color: #3e65a0;
	}
